<div style="text-align:center" class="grid grid-pad">
  <a class="row" (click)="openGetLocationModal(getLocationRequestContent)">
    <div class="module list">
      <h4>Get Location</h4>
    </div>
  </a>
  <a class="row" (click)="openListLocations(listLocationsRequestContent)">
    <div class="module list">
      <h4>List Locations</h4>
    </div>
  </a>
</div>

<ng-template #getLocationRequestContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="getLocationRequestContent">Retrieve Location</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #myform="ngForm" class="form form-register" (ngSubmit)="getLocation(myform, getLocationResponseModal)">
      <div class="form-group">
        <label for="LocationId">Location Id</label>
        <div class="form-field">
          <input name="locationId" id="locationId" class="form-input" type="text" ngModel placeholder="101">
        </div>
        <div class="form-field">
          <input type="submit" class="btn btn-outline-dark" placement="bottom"
            ngbTooltip="Client-Secret: dB5xG6tA8rE5xD1bB8nW0sN1qB7dF0cD5cH2oQ2oF0xG3bH5wM" value="Submit" />
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #getLocationResponseModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="getLocationResponseModal">Location Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form *ngIf="location.Location">
      <div>
        <label>Id: {{location.Location.LocationId.Id}}</label><br>
        <label>Address: {{location.Location.LocationAddress.AddressLine1}}</label><br>
        <label>City: {{location.Location.LocationAddress.AddressCity}}</label><br>
        <label>State: {{location.Location.LocationAddress.AddressState}}</label><br>
        <label>Zip: {{location.Location.LocationAddress.AddressPostalCode}}</label><br>
        <label>Type: {{location.Location.LocationType}}</label><br>
      </div>
    </form>
    <div *ngIf='location.msg'>
      <label>{{location.msg}}</label>
    </div>
    <div>
      <label>{{errorMessage}}</label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
  </div>
</ng-template>

<ng-template #listLocationsRequestContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="listLocationsRequestContent">List Locations</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #myform="ngForm" class="form form-register" (ngSubmit)="listLocations(myform, listLocationsResponseContent)">
      <div class="form-group">
        <label for="Search Location">Search Location</label>
        <div class="form-field">
          <input name="searchLocation" id="searchLocation" class="form-input" type="text" placeholder="123 Test Street"
            ngModel>
        </div>
        <label for="Location Type">Location Type</label>
        <div class="form-field">
          <select [(ngModel)]='locationType' name="locationType" id="locationType" class="form-input" ngModel>
            <option value="All">All</option>
            <option value="ATM">ATM</option>
            <option value="Branch">Branch</option>
          </select>
        </div>
        <div class="form-field">
          <input type="submit" class="btn btn-outline-dark" placement="right"
            ngbTooltip="Client-Secret: R4hP1cE7bR3bN4vQ1bA2oL0tW8tS2bQ2aI2lS0nR8rX7vD0sY5" value="Submit" />
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #listLocationsResponseContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="listLocationsResponseContent">Locations</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form *ngIf='locations.LocationList'>
      <div *ngFor='let location of locations.LocationList'>
        <label>Id: {{location.LocationId.Id}}</label><br>
        <label *ngIf='location.LocationName'>Name: {{location.LocationName}}</label>
        <label>Address: {{location.LocationAddress.AddressLine1}}</label><br>
        <label>City: {{location.LocationAddress.AddressCity}}</label><br>
        <label>State: {{location.LocationAddress.AddressState}}</label><br>
        <label>Zip: {{location.LocationAddress.AddressPostalCode}}</label><br>
        <label>Country: {{location.LocationAddress.AddressCountry}}</label><br>
        <hr>
      </div>
    </form>
    <div>
      <label>{{errorMessage}}</label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
  </div>
</ng-template>