<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <div>
    <nav>
      <a routerLink="/account">Account</a>
      <a routerLink="/customer">Customer</a>
      <a routerLink="/channel">Channel</a>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>
