<button class="openCreateAccount tabs" (click)="openCreateAccount(createAccountRequestContent)">Create Account</button>
<br>
<div style="text-align:center" class="grid grid-pad">
  <a class="row" (click)="openGetAccountModal(getAccountRequestModal)">
    <div class="module list">
      <h4>Get Account</h4>
    </div>
  </a>
  <a class="row" (click)="openListAccountsModal(listAccountsRequestModal)">
    <div class="module list">
      <h4>List Accounts</h4>
    </div>
  </a>
  <a class="row" (click)="openListTransactions(listTransactionsRequestContent)">
    <div class="module list">
      <h4>List Transactions</h4>
    </div>
  </a>
</div>

<ng-template #createAccountRequestContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="createAccountRequestContent">Create Account</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #myform="ngForm" class="form form-register" (ngSubmit)="createAccount(myform, accountResponseContent)">
      <div class="form-group">
        <label for="Product Code">Product Code</label>
        <div class="form-field">
          <select id="productCode" [(ngModel)]='productCode'
            name="productCode" class="form-input" ngModel matNativeControl>
            <option value="SAV">Savings</option>
            <option value="DDA">Checking</option>
            <option value="HSD">Health Savings Account</option>
          </select>
        </div>
        <label for="Bank Number">Bank Number</label>
        <div class="form-field">
          <input name="bankNumber" id="bankNumber" class="form-input" type="text" ngModel placeholder="98">
        </div>
        <div class="form-field">
          <input type="submit" class="btn btn-outline-dark" placement="right"
            ngbTooltip="Client-Secret: R4hP1cE7bR3bN4vQ1bA2oL0tW8tS2bQ2aI2lS0nR8rX7vD0sY5" value="Submit" />
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #accountResponseContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="accountResponseContent">Account Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form *ngIf="newAccount.Account">
      <div>
        <label>Account Id: {{newAccount.Account.AccountId.Id}}</label><br>
        <label>Account Type: {{newAccount.Account.AccountProduct.ProductCode}}</label><br>
        <label>Tax ID: {{newAccount.Account.AccountAttributes[0].Value}}</label><br>
        <label>Account Plan: {{newAccount.Account.AccountAttributes[1].Value}}</label><br>
        <label>Bank Number: {{newAccount.Account.AccountBranch.Bank.BankNumber}}</label><br>
      </div>
    </form>
    <div>
      <label>{{errorMessage}}</label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
  </div>
</ng-template>

<ng-template #getAccountRequestModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="getAccountRequestModal">Retrieve Account</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #myform="ngForm" class="form form-register" (ngSubmit)="getAccount(myform, getAccountResponseModal)">
      <div class="form-group">
        <label for="AccountId">Account Id</label>
        <div class="form-field">
          <input name="accountId" id="accountId" class="form-input" type="text" ngModel placeholder="978:DDA:20097091878">
        </div>
        <div class="form-field">
          <input type="submit" class="btn btn-outline-dark" placement="bottom"
            ngbTooltip="Client-Secret: dB5xG6tA8rE5xD1bB8nW0sN1qB7dF0cD5cH2oQ2oF0xG3bH5wM" value="Submit" />
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #getAccountResponseModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="getAccountResponseModal">Account Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form *ngIf="account.Account">
      <div>
        <label>Account Id: {{account.Account.AccountId.Id}}</label><br>
        <label>TIN: {{account.Account.AccountAttributes[0].Key}}</label><br>
        <label>Account Type: {{account.Account.AccountCategoryType}}</label><br>
        <label>Product Code: {{account.Account.AccountProduct.ProductCode}}</label><br>
        <label>Status: {{account.Account.AccountStatus}}</label><br>
      </div>
    </form>
    <div *ngIf="account.msg">
      <label>{{account.msg}}</label>
    </div>
    <div>
      <label>{{errorMessage}}</label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
  </div>
</ng-template>


<ng-template #listAccountsRequestModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="listAccountsRequestModal">List Accounts</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #myform="ngForm" class="form form-register" (ngSubmit)="listAccounts(myform, listAccountsResponseModal)">
      <div class="form-group">
        <label for="Customer Id">Customer Id</label>
        <div class="form-field">
          <input name="customerId" id="customerId" class="form-input" type="text" ngModel placeholder="98:196105238301803">
        </div>
        <div class="form-field">
          <input type="submit" class="btn btn-outline-dark" placement="bottom"
            ngbTooltip="Client-Secret: dB5xG6tA8rE5xD1bB8nW0sN1qB7dF0cD5cH2oQ2oF0xG3bH5wM" value="Submit" />
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #listAccountsResponseModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="listAccountsResponseModal">Accounts</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form *ngIf='accounts.AccountList'>
      <div *ngFor='let account of accounts.AccountList'>
        <label>Id: {{account.AccountId.Id}}</label><br>
        <label>TIN: {{account.AccountAttributes[0].Key}}</label><br>
        <label>Account Type: {{account.AccountCategoryType}}</label><br>
        <label>Product Code: {{account.AccountProduct.ProductCode}}</label><br>
        <label>Status: {{account.AccountStatus}}</label><br>
        <hr>
      </div>
    </form>
    <div>
      <label>{{errorMessage}}</label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
  </div>
</ng-template>

<ng-template #listTransactionsRequestContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="listTransactionsRequestContent">List Transactions</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #myform="ngForm" class="form form-register"
      (ngSubmit)="listTransactions(myform, listTransactionsResponseContent)">
      <div class="form-group">
        <label for="Account Id">Account Id</label>
        <div class="form-field">
          <input name="accountId" id="accountId" class="form-input" type="text" placeholder="978:DDA:20097091878"
            ngModel>
        </div>
        <label for="Start Date">Start Date</label>
        <div class="form-field">
          <input type="date" name="startDate" id="startDate" class="form-input" ngModel>
        </div>
        <label for="End Date">End Date</label>
        <div class="form-field">
          <input type="date" name="endDate" id="endDate" class="form-input" ngModel>
        </div>
        <div class="form-field">
          <input type="submit" class="btn btn-outline-dark" placement="right"
            ngbTooltip="Client-Secret: K8hD2gT2pW6nQ1cW0eY4tQ3mP7oU4nL5hU6hY8tJ2vE6hW1yH1" value="Submit" />
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #listTransactionsResponseContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="listTransactionsResponseContent">Transactions</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form *ngIf='transactions.TransactionList'>
      <div *ngFor='let transaction of transactions.TransactionList'>
        <label>Id: {{transaction.TransactionId.Id}}</label><br>
        <label>Status: {{transaction.TransactionStatus}}</label><br>
        <label>Type: {{transaction.TransactionType}}</label><br>
        <label>Account Id: {{transaction.TransactionAccount.AccountId.Id}}</label><br>
        <label>Amount: {{transaction.TransactionAmount.CurrencyValue | currency}}</label><br>
        <hr>
      </div>
    </form>
    <div>
      <label>{{errorMessage}}</label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
  </div>
</ng-template>