.grid {
    width: 5%;
    display: inline-block;
    margin-right: 30px;
    padding: 50px 0;
}

.tabs {
    margin: 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    color: #eee;
}

a {
    text-decoration: none;
    padding: 5px;
}

.module:hover {
    background-color: #eee;
    cursor: pointer;
    color: #607d8b;
}

.list {
    padding: 10px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 160px;
    background-color: #134d02;
}

h4 {
    position: relative;
}

.openCreate {
    background-color: #334953;
    color: #eee;
    padding: 10px;
    margin-top: 5px;
}

label {
    text-align: center;
}

.form input {
    width: 50%;
}

input {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.form-register input[type="submit"] {
    background-color: rgb(86, 69, 238);
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}