<button class="createCustomerRequestModal tabs" (click)="openCreateCustomer(createCustomerRequestModal)">Create
    Customer</button>
<br>
<div style="text-align:center" class="grid grid-pad">
    <a class="row" (click)="openGetCustomerModal(getCustomerRequestContent)">
        <div class="module list">
            <h4>Get Customer</h4>
        </div>
    </a>
    <a class="row" (click)="openListCustomers(listCustomersRequestContent)">
        <div class="module list">
            <h4>List Customers</h4>
        </div>
    </a>
</div>

<ng-template #getCustomerRequestContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="getCustomerRequestContent">Retrieve Customer</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #myform="ngForm" class="form form-register" (ngSubmit)="getCustomer(myform, getCustomerResponseModal)">
            <div class="form-group">
                <label for="CustomerId">Customer Id</label>
                <div class="form-field">
                    <input name="customerId" id="customerId" class="form-input" type="text" ngModel placeholder="98:196105238301803">
                </div>
                <div class="form-field">
                    <input type="submit" class="btn btn-outline-dark" placement="bottom"
                        ngbTooltip="Client-Secret: dB5xG6tA8rE5xD1bB8nW0sN1qB7dF0cD5cH2oQ2oF0xG3bH5wM" value="Submit" />
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #getCustomerResponseModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="getCustomerResponseModal">Customer Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form *ngIf="customer.Customer">
            <div>
                <label>Customer Id: {{customer.Customer.CustomerId.Id}}</label><br>
                <label>Address: {{customer.Customer.CustomerAddresses[0].AddressLine1}}</label><br>
                <label>City: {{customer.Customer.CustomerAddresses[0].AddressCity}}</label><br>
                <label>State: {{customer.Customer.CustomerAddresses[0].AddressState}}</label><br>
                <label>Zip: {{customer.Customer.CustomerAddresses[0].AddressPostalCode}}</label><br>
                <label>Company Name: {{customer.Customer.Company.CompanyName.Name}}</label><br>
            </div>
        </form>
        <div *ngIf='customer.CustomerList'>
            <label>no customer matches input id</label>
        </div>
        <div *ngIf='errorMessage'>
            <label>{{errorMessage}}</label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
    </div>
</ng-template>


<ng-template #createCustomerRequestModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="createCustomerRequestModal">Create Customer</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #myform="ngForm" class="form form-register"
            (ngSubmit)="createCustomer(myform, createCustomerResponseModal)">
            <div class="form-group">
                <label for="Name">Company Name</label>
                <div class="form-field">
                    <input name="name" id="name" type="text" class="form-input" ngModel required placeholder="UMB">
                </div>
                <label for="Address1">Address Line 1</label>
                <div class="form-field">
                    <input name="address1" id="address1" class="form-input" type="text" ngModel placeholder="1010 Test Avenue">
                </div>
                <label for="Address2">Address Line 2</label>
                <div class="form-field">
                    <input name="address2" id="address2" class="form-input" type="text" ngModel placeholder="Suite 123">
                </div>
                <label for="City">City</label>
                <div class="form-field">
                    <input name="city" id="city" class="form-input" type="text" ngModel placeholder="Kansas City">
                </div>
                <label for="State">State</label>
                <div class="form-field">
                    <input name="state" id="state" class="form-input" type="text" ngModel placeholder="MO">
                </div>
                <label for="Zip">Zip</label>
                <div class="form-field">
                    <input name="zip" id="zip" class="form-input" type="text" ngModel placeholder="12345">
                </div>
                <label for="TIN">Tax Identification Number</label>
                <div class="form-field">
                    <input name="tin" id="tin" class="form-input" type="text" ngModel placeholder="000000000">
                </div>
                <div class="form-field">
                    <input type="submit" class="btn btn-outline-dark" placement='right'
                        ngbTooltip="Client-Secret: K8hD2gT2pW6nQ1cW0eY4tQ3mP7oU4nL5hU6hY8tJ2vE6hW1yH1" value="Submit" />
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #createCustomerResponseModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="createCustomerResponseModal">Customer Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form *ngIf='newCustomer.Customer'>
            <div>
                <label>Customer Id: {{newCustomer.Customer.CustomerId.Id}}</label><br>
                <label>TIN: {{ newCustomer.Customer.CustomerTaxId.Value }}</label><br>
                <label>Status: {{newCustomer.Customer.CustomerStatus}}</label><br>
                <label>Company Name: {{newCustomer.Customer.Company.CompanyName.Name}}</label><br>
                <label>Address: {{newCustomer.Customer.CustomerAddresses[0].AddressLine1}}</label><br>
                <label>City: {{newCustomer.Customer.CustomerAddresses[0].AddressCity}}</label><br>
                <label>State: {{newCustomer.Customer.CustomerAddresses[0].AddressState}}</label><br>
                <label>Zip: {{newCustomer.Customer.CustomerAddresses[0].AddressPostalCode}}</label><br>
            </div>
        </form>
        <div>
            <label>{{errorMessage}}</label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
    </div>
</ng-template>

<ng-template #listCustomersRequestContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="listCustomersRequestContent">List Customers</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #myform="ngForm" class="form form-register"
            (ngSubmit)="listCustomers(myform, listCustomersResponseContent)">
            <div class="form-group">
                <label for="Account Number">Account Number</label>
                <div class="form-field">
                    <input name="accountNumber" id="accountNumber" class="form-input" type="text" ngModel placeholder="">
                </div>
                <div class="form-field">
                    <input type="submit" class="btn btn-outline-dark" placement="right"
                        ngbTooltip="Client-Secret: R4hP1cE7bR3bN4vQ1bA2oL0tW8tS2bQ2aI2lS0nR8rX7vD0sY5" value="Submit" />
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #listCustomersResponseContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="listCustomersResponseContent">Customers</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form *ngIf='customers.CustomerList'>
            <div *ngFor='let customer of customers.CustomerList'>
                <label>Id: {{customer.CustomerId.Id}}</label><br>
                <label>TIN: {{customer.CustomerTaxId.Value}}</label><br>
                <label>Type: {{customer.CustomerType}}</label><br>
                <label>Company Name: {{customer.Company.CompanyName.Name}}</label><br>
                <hr>
            </div>
        </form>
        <div *ngIf='customers.moreInformation'>
            <label>{{customers.moreInformation}}</label>
        </div>
        <div>
            <label>{{errorMessage}}</label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
    </div>
</ng-template>